* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

#contour {
    background-color: blueviolet;
    border-radius: 20px;
    width: 350px;
    height: 400px;
    position: relative;
    left: 500px;
    top: 200px;
    padding: 5px;
}

#result {
    width: 280px;
    height: 40px;
    border-radius: 20px;
    margin: 25px;
    padding-left: 10px;
}

.but {
    margin: 5px;
    padding: 5px;
    width: 60px;
    height: 60px;
    background-color: yellow;
    border-radius: 100%;
}

.but:hover {
    background-color: #b6b615;
    color: white;
}